body{
  margin: 0px
  font-family: sans-serif;
  background-color: #F9E2AF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form{
  border:medium solid #009FBD;
  border-radius: 12px;
  background-color: #009FBD;
  width:max-content;

}
#initials, #dropdown-section, #radio, #checkbox, #button, #textarea {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 15px 10px;
  font-weight: bolder;
  font-family: 'Roboto Mono', monospace;
}
#favsport{
  display: flex;
  flex-direction: column;
}
input, select, textarea{
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #F9E2AF;
  border:none;
  padding-left: 20px;
  font-family: monospace;
  font-weight: bold;
}
textarea{
  width:800px;
  height:200px;
}
