body{
    background-color:#24263E;

}
.navbar{
    display: flex;
    justify-content: space-between;
}
.heading{
    padding: 20px;
    text-decoration: none;
    color:#2EB8B5;
    font-size: x-large;
    font-family: comfortaa;
    font-weight: bolder;
}

.search_cont{
    padding: 10px 0px;
}
#search{
    background-color: gray;
    box-shadow: 0px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 0;
    
}
