.Flex_cont{
    display: flex;
}
.Flexbox_item{
    width: 200px;
    border: black 3px solid;
    margin: 10px;
    background-color: aqua;
}
.flex_item1{
    min-height: 100px;
    flex-shrink:0;
    align-self: flex-end;
    order: 2;

}
.flex_item2{
    min-height: 200px;
    flex-grow: 2;
    flex-basis: 0;
    align-self: center;
    order:1;
}
.flex_item3{
    min-height: 300px;
    flex-grow:1;
    flex-basis: 0;
    order:3;
}